#include "resource.h"
#include "OpenDialogBox.h"
#include <afxres.h>

// Dialog
ABOUTBOX DIALOG DISCARDABLE 32, 32, 180, 100
STYLE DS_MODALFRAME | WS_POPUP
FONT 10, "MS Sans Serif"
BEGIN
    CONTROL "OK",IDOK,"button",WS_GROUP | WS_TABSTOP,73,79,32,14
    CTEXT "About",IDC_STATIC,40,12,100,8
    CTEXT "Graphic Creation Object(GCO)",IDC_STATIC,7,40,166,8
    CTEXT "By Christian Ngoumen with C and Win32 API.",IDC_STATIC,7,52,166,8
    CTEXT "contact: edouardochristian4@gmail.com",IDC_STATIC,7,64,166,8

END


//MENU
GCO MENU DISCARDABLE
{
    POPUP "MyMenu"
    {
        MENUITEM "Add &Object" , IDM_ADD_OBJ
        MENUITEM "&Modify main Window",IDM_MOD_PAR
        MENUITEM "&Delete main Window", IDM_DEL_PAR
    }
}

OBJ_OPT_GCO MENU DISCARDABLE
{
    POPUP "MyMenu"
    {
        MENUITEM "&Add an object",IDM_ADD_OBJ
        MENUITEM "&Modify this objet ", IDM_MOD_OBJ
        MENUITEM "&Delete this objet", IDM_DEL_OBJ
        MENUITEM "&Duplicate this objet ", IDM_DUP_OBJ
        MENUITEM "&Link with",IDM_LINK_OBJ
        MENUITEM "U&nlink",IDM_UNLINK_OBJ
        /*POPUP "AutoSize"
        {
            MENUITEM "Top",IDM_AUTOSIZE_TOP
            MENUITEM "Bottom",IDM_AUTOSIZE_BOTTOM
            MENUITEM "Left",IDM_AUTOSIZE_LEFT
            MENUITEM "Right",IDM_AUTOSIZE_RIGHT
        }
        */
    }
}

IDD_MYDIALOG DIALOGEX 0, 0, 180, 100
STYLE DS_MODALFRAME|DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Step1:Create Main Window"
FONT 10, "MS Sans Serif"
BEGIN
    LTEXT           "   En Cliquant sur 'Next' Vous pourrez Creer la fenetre principale dans laquelle tous les autres objets (boutons,listbox,combo etc) seront crees.\n\n Si Vous choisissez 'Cancel' l'espace blanc actuel sera votre fenetre principale. ", IDC_STATIC, 10, 10, 160, 100
    DEFPUSHBUTTON   "Next", ID_SUIV, 130, 70, 40, 14
    PUSHBUTTON   "Cancel", IDCANCEL, 80, 70, 40, 14
END

IDD_MYDIALOG2 DIALOGEX 0, 0, 180, 100
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Choose main window's type"
FONT 10, "MS Sans Serif"
BEGIN
    GROUPBOX        "Choisissez le type de fenetre principale a creer :", IDC_STATIC, 10, 10, 150, 55
    AUTORADIOBUTTON     "Fenetre Simple", ID_SIMPWND, 20, 30, 100, 10
    AUTORADIOBUTTON     "Boite de dialogue", ID_DLGWND, 20, 50, 100, 10
    DEFPUSHBUTTON   "Next", ID_SUIV, 130, 70, 40, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 80, 70, 40, 14
END


IDD_MODMENU DIALOGEX 0, 0, 350, 130
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Modify Menu"
FONT 10, "MS Sans Serif"
BEGIN

    LTEXT   "Set Menu's Name:", IDS_CREATE_MENU, 10, 8,60,14
    CONTROL "",IDE_CREATE_MENU,"edit",WS_CHILD|WS_VISIBLE|WS_BORDER,70,8,80,12

    GROUPBOX        "Def menu as", IDB_CREATE_DEF_GROUP, 10, 25, 160,40
    AUTORADIOBUTTON "Main menu",IDR_CREATE_MAIN, 15,33,140,15
    AUTORADIOBUTTON "Sub menu",IDR_CREATE_SUBMAIN, 15,47,140,15

    LTEXT   "Set Menu's parent:", IDS_CREATE_PARENT, 10, 66, 60, 14
    CONTROL "",IDC_CREATE_MENUPARENT,WC_COMBOBOX,WS_CHILD|WS_VISIBLE|WS_BORDER|CBS_HASSTRINGS|CBS_DROPDOWNLIST,70,66,80,48


    GROUPBOX        "Set  item's positon", IDB_GB_SETPOS_ITEM, 180,10, 130,60
    AUTORADIOBUTTON "Before:",IDR_BEFORE,185,20,40,15
    AUTORADIOBUTTON "After:",IDR_AFTER, 185,35,40,15
    AUTORADIOBUTTON "No change",IDR_NOCHANGE, 185,50,50,15
    CONTROL "",IDC_SET_BEFORE,WC_COMBOBOX,WS_CHILD|WS_VISIBLE|WS_BORDER|CBS_HASSTRINGS|CBS_DROPDOWNLIST,235,20,67,48
    CONTROL "",IDC_SET_AFTER,WC_COMBOBOX,WS_CHILD|WS_VISIBLE|WS_BORDER|CBS_HASSTRINGS|CBS_DROPDOWNLIST,235,35,67,48

     DEFPUSHBUTTON   "Appply", ID_APPLY, 180, 100, 40, 14,WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 137, 100, 40, 14
END


IDD_ADDITEMMENU DIALOGEX 0, 0, 350, 180
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Add item's menu"
FONT 10, "MS Sans Serif"
BEGIN
    LTEXT   "Menu parent:", IDS_MOD_PARENTMENU , 115, 10,60,14
    CONTROL "",IDE_MOD_PARENTMENU,"edit",WS_CHILD|WS_VISIBLE|WS_BORDER|ES_READONLY,160,8,80,12

    LTEXT   "Item Name:", IDS_MOD_NAMEITEM , 115, 23,60,14
    CONTROL "",IDE_MOD_NAMEITEM,"edit",WS_CHILD|WS_VISIBLE|WS_BORDER,160,21,80,12

    LTEXT   "IDNAME:      ", IDS_MOD_IDNAMEITEM, 115, 36, 60, 14
    CONTROL "",IDE_MOD_IDNAMEITEM,"edit",WS_CHILD|WS_VISIBLE|WS_BORDER,160,34,80,12

    GROUPBOX        "Flag's options", IDB_MOD_FLAGITEMGROUP, 30, 55, 290,100
    CONTROL "",ID_FLAGITEM_LIST,"DLG_DIALOGBOX_CLASS",WS_CHILD|WS_VISIBLE|WS_BORDER,40,65,125,80
    CONTROL "",ID_EDIT_STYLES_CHOOSEN,"edit",WS_CHILD|WS_VISIBLE|WS_BORDER|ES_READONLY|ES_MULTILINE,180,65,125,80

     DEFPUSHBUTTON   "Add", ID_ADD, 185, 160, 40, 14,WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 140, 160, 40, 14
END


IDD_MODITEMMENU DIALOGEX 0, 0, 350, 220
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Mod item's menu"
FONT 10, "MS Sans Serif"
BEGIN
    LTEXT   "1.Item to modify:", IDS_MOD_NAMEITEM , 30, 10,60,14
    CONTROL "",IDC_MOD_NAMEITEM,WC_COMBOBOX,WS_CHILD|WS_VISIBLE|WS_BORDER|CBS_HASSTRINGS|CBS_DROPDOWNLIST,80,8,80,48

    GROUPBOX        "Set  item's positon", IDB_GB_SETPOS_ITEM, 30,20, 130,60
    AUTORADIOBUTTON "Before:",IDR_BEFORE,35,30,40,15
    AUTORADIOBUTTON "After:",IDR_AFTER, 35,45,40,15
    AUTORADIOBUTTON "No change",IDR_NOCHANGE, 35,60,50,15
    CONTROL "",IDC_SET_BEFORE,WC_COMBOBOX,WS_CHILD|WS_VISIBLE|WS_BORDER|CBS_HASSTRINGS|CBS_DROPDOWNLIST,85,32,67,48
    CONTROL "",IDC_SET_AFTER,WC_COMBOBOX,WS_CHILD|WS_VISIBLE|WS_BORDER|CBS_HASSTRINGS|CBS_DROPDOWNLIST,85,47,67,48


    LTEXT   "Menu parent:", IDS_MOD_PARENTMENU , 180, 10,60,14
    CONTROL "",IDE_MOD_PARENTMENU,"edit",WS_CHILD|WS_VISIBLE|WS_BORDER|ES_READONLY,225,8,80,12

    LTEXT   "Item Name:", IDS_MOD_NAMEITEM , 180, 23,60,14
    CONTROL "",IDE_MOD_NAMEITEM,"edit",WS_CHILD|WS_VISIBLE|WS_BORDER,225,21,80,12


    LTEXT   "IDNAME:      ", IDS_MOD_IDNAMEITEM, 180, 36, 60, 14
    CONTROL "",IDE_MOD_IDNAMEITEM,"edit",WS_CHILD|WS_VISIBLE|WS_BORDER,225,34,80,12

    GROUPBOX        "Flag's options", IDB_MOD_FLAGITEMGROUP, 30, 95, 290,100
    CONTROL "",ID_FLAGITEM_LIST,"DLG_DIALOGBOX_CLASS",WS_CHILD|WS_VISIBLE|WS_BORDER,40,105,125,80
    CONTROL "",ID_EDIT_STYLES_CHOOSEN,"edit",WS_CHILD|WS_VISIBLE|WS_BORDER|ES_READONLY|ES_MULTILINE,180,105,125,80

     DEFPUSHBUTTON   "Apply", ID_APPLY, 185, 200, 40, 14,WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 140, 200, 40, 14
END


IDD_DELITEMMENU DIALOGEX 0, 0, 180, 80
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Del item's menu"
FONT 10, "MS Sans Serif"
BEGIN


    LTEXT   "Menu parent:", IDS_MOD_PARENTMENU , 10, 10,60,14
    CONTROL "",IDE_MOD_PARENTMENU,"edit",WS_CHILD|WS_VISIBLE|WS_BORDER|ES_READONLY,55,8,80,12

    LTEXT   "item to del:", IDS_MOD_NAMEITEM , 10, 23,60,14
    CONTROL "",IDC_MOD_NAMEITEM,WC_COMBOBOX,WS_CHILD|WS_VISIBLE|WS_BORDER|CBS_HASSTRINGS|CBS_DROPDOWNLIST,55,21,80,48

     DEFPUSHBUTTON   "Apply", ID_APPLY, 90, 50, 40, 14,WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 45, 50, 40, 14
END


IDD_HOW_TO_RESIZE DIALOGEX 0, 0, 250, 100
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "How to size an Object?"
FONT 10, "Arial"

BEGIN


    LTEXT   "When you have created an Object, click on it for giving him a Focus and then press <CapsLock> or<Maj>.If a frame appears, use this with keyboard(directionnal keys)  or mouse for size an object.if you use a keyboard, you will need to also press <+> for enable increase size or <-> for decrease", ID_STATIC, 10, 10,240,42

    AUTOCHECKBOX "Don't annoy me again", IDB_DONT_ANNOY, 10,60,100,14,WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 120, 80, 40, 14,WS_GROUP
END
